<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <% if (DEV_MODE) { %>
      <link rel="stylesheet" href="/css/site.min.css" />
    <% } else { %>
      <link rel="stylesheet" href="/pulsar-documentation/site.min.css" />
      <% //This css path is only needed because my account for GitHub already has a root page %>
    <% } %>
  </head>
