.sidebar {
  position: sticky;
  top: 70px; //TODO: use variable to set same as navbar height
  right: auto;
  bottom: 0;
  left: 0;
  z-index: 40;
  overflow-y: auto;
  width: 300px;
  margin: 0;
  padding-left: 2rem;
  float: left;
  //TODO: Scrollbar settings, colour, width etc.

  ul {
    list-style: none;
    margin: 0;

  }

  .book-list {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 1.5rem 0 0 0;

    li {
      margin-bottom: 1rem;
    }
  }

  .chapter {
    margin-top: 0;
    padding-top: 1.2rem;
  }

  .chapter-list {
    padding: 0 0 0 0.5rem;

    li {
      line-height: 1.8rem;
    }
  }

}







/*

margin-left: 1rem;
width: 300px;
overflow-y: auto;
display: block;
padding: 0 1.5rem 2.5rem 1rem;


nav#sidebar {
  width: 300px;
  height: auto;
  overflow: auto;
  text-decoration: none;
  padding-left: 1.5rem;
  margin-right: 10px;

  div#books {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h3 {
    font-size: 1.4rem;
  }

}
*/
