.sidebar {
  padding-left: 2rem;
  overflow-y: auto;
  border-right: 1px solid lightgrey;

  ul {
    list-style: none;
    margin: 0;
  }

  .book-list {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0;

    li {
      margin: .5rem .5rem .5rem .5rem;
      padding: .5rem .5rem .5rem .5rem;
      height: auto;
      display: flex;
      align-items: baseline;

      &:hover { //TODO: use mixin?
        background-color: #f2f2f2;
        border-radius: .5rem;
      }

      i {
        padding-right: .5rem;
      }

      a {
        line-height: 0;
      }
    }
  }

  .chapters {
    margin-left: 1rem;

    .chapter {
      margin-top: 0;
      padding-top: 1.2rem;
    }

    .chapter-list {
      padding: 0 0 0 0;

      li {
        margin: .1rem;
        padding: .1rem;

        &:hover { //TODO: use mixin?
          background-color: #f2f2f2;
          border-radius: .5rem;
        }

        a {
          padding-left: .2rem; //this just gives some space for the hover/selected bg
        }
      }
    }

  }

}
