.sidebar {

  overflow-y: auto;
  padding-left: 2rem;
  //TODO: Scrollbar settings, colour, width etc.

  ul {
    list-style: none;
    margin: 0;
    //line-height: 1rem;
  }

  .book-list {
    font-size: 1.6rem;
    //line-height: 2rem;
    font-weight: 600;
    padding: 1.5rem 0 0 0;

    ul {
      padding: 0;
    }

    li {
      margin: .5rem .5rem .5rem .5rem;
      padding: .5rem .5rem .5rem .5rem;
      height: auto;
      display: flex;
      align-items: baseline;

      &:hover { //TODO: use mixin?
        background-color: red;
        border-radius: .5rem;
      }

      i {
        padding-right: .5rem;
      }

      a {
        line-height: 0;
      }
    }
  }

  .chapters {
    margin-left: 1rem;

    .chapter {
      margin-top: 0;
      padding-top: 1.2rem;
    }

    .chapter-list {
      padding: 0 0 0 0;

      li {
        padding: 0.1rem;
        margin: 0 0 .3rem 0;

        &:hover { //TODO: use mixin?
          background-color: red;
          border-radius: .5rem;
        }
      }
    }

  }

}
